/* PENDING ORDER */

.main-box-pending {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .box-pending-order h3, h4 {
    text-align: center;
  }
  
  .timer {
    /* display: flex;
    align-items: flex-start;
    justify-content: center; */
    z-index: 5;

    text-align: center;
    font-size: 15px;
    font-weight: 600;

    background: black;
    color: yellow;

    width: 130px;
    height: 20px;

    margin: 0 auto;
    margin-top: 75px;
  }

  .done {
    font-size: 17px;
    font-weight: 700;
  }
  
  .box-pending-order {
    margin-top: 3em;
  
    width: 370px;
    height: 350px;
  
    background: yellow;
  }
  
  .box-pending-order-product {
    color: black;

    line-height: 30px;
    font-size: 19px;
    text-align: left;

    margin-left: 50px;
  }

  .box-pending-order-product {
    list-style: none;

    font-size: 18px;
    font-weight: 400;
    color: black;
  }
  
  .margin-bottom {
    margin-top: 3em;
  }
