/* PENDING ORDER */

.main-box-pending {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 

    width: 100%;
  } 
  
  .box-pending-order h3, h4 {
    text-align: left;

    margin-left: 50px;
  }
  
  .timer-div {
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .timer {
    /* display: flex;
    align-items: flex-start;
    justify-content: center; */
    z-index: 5;

    text-align: center;
    font-size: 15px;
    font-weight: 600;

    background: yellow;
    color: black;

    width: 130px;
    height: 20px;

    margin: 0 auto;
    margin-top: 75px;
  }
  
  .box-pending-order {
    height: 100%;
    width: 80%;
  
    border: 3px solid yellow;
    background: none;

    margin-top: 10px;
    margin-bottom: 5px;

    color: yellow;

    padding: 10px;
  }

  .box-pending-order h4 {
    color: yellow;
  }
