* {
  box-sizing: border-box;
}

A:link {
  text-decoration: none;
  color: yellow;
}

body {
  background: black;
  font-family: 'Montserrat', sans-serif;
}

/* WAITER LOGIN */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-welcome img {
  margin-bottom: -30px;
  z-index: -5;
}

.logo-welcome h2{
  display: flex;
  justify-content: center;
  text-align: center;

  padding-bottom: 1em;

  color: yellow;
  font-weight: 600;
  font-size: 20px;
}

.formLogin {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Welcome {
  border: 3px solid yellow;
  background: none;
  width: 170px;
  height: 35px;
  margin-top: .7em;

  font-weight: 600;
  font-size: 15px;
}

.inputLogin {
  background: black;
  border-color: yellow;
  width: 170px;
  height: 35px;
  margin-top: .7em;

  color: yellow;
}

/* .inputLogin ::placeholder {
  color: yellow;
} */

.checkboxLogin {
  background: black;
  border-color: yellow;
  width: 170px;
  height: 35px;
  margin-top: .7em;
  
  color: yellow;
}

/* WAITER ORDERS */

.logo-waiter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-buttons-order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.button-order {
  border: 3px solid yellow;
  background: none;

  width: 170px;
  height: 35px;

  font-weight: 600;
  font-size: 15px;
}

.button-order a {
  color: yellow;
}

.button-order:hover {
  background: yellow;
}

.button-order:hover a {
  color: black;
}

.active {
  background: yellow;
  color: black;
}

.active a{
  background: yellow;
  color: black;
}

A:link:hover {
  color: black;
}

p {
  margin-top: 2em;
  text-align: center;
  color: yellow;
  font-size: 15px;
}

#client-name {
  font-weight: 600;
}

.main-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;

  margin-top: 2em;  
}

.box-menus {
  width: 260px;
  height: 140px;

  background: yellow;
}

.box-menus p {
  margin-top: 2em;
  color: black;

  font-weight: 300;
}

.select-food-products {
  width: 480px;
  height: 280px;

  border: 3px solid yellow;
  background: none;
}

.select-food-products  p {
  margin-left: 4em;
  color: yellow;
  text-decoration: none;

  text-align: left;
  font-weight: 400;
}

.button-send-waiter {
  border: 3px solid yellow;
  background: none;

  width: 170px;
  height: 35px;

  margin-top: 2em; 
  margin-bottom: 3em;

  font-weight: 600;
  font-size: 15px;
}

.button-send-waiter a {
  color: yellow;
}

.button-send-waiter:hover {
  background: yellow;
}

.button-send-waiter:hover a {
  color: black;
}

.box-send-waiter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 2em;
}

.total {
  margin-right: 60%;
  margin-top: -1em;

  font-weight: 700;
}

/* PENDING ORDER */

.main-box-pending {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* .box-one-pending {
  margin-top: 3em;

  width: 370px;
  height: 350px;

  background: yellow;
}

.box-one-pending p {
  margin-top: 1.5em;
  color: black;
} */

/* .box-one-pending, .box-two-pending,
.box-three-pending, .box-four-pending  h3, h4 {
  text-align: center;
} */

.box-pending-order h3, h4 {
  text-align: center;
}

.done {
  font-size: 17px;
  font-weight: 700;
}
/* 
.box-two-pending {
  margin-top: 3em;

  width: 370px;
  height: 350px;

  background: yellow;
}

.box-two-pending p {
  margin-top: 1.5em;
  color: black;
}

.second-box-pending {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;

  margin-top: -1.5em;
} */

.box-pending-order {
  margin-top: 3em;

  width: 370px;
  height: 350px;

  background: yellow;
}

.box-pending-order p {
  margin-top: 2em;
  color: black;
}

/* .box-four-pending {
  margin-top: 3em;

  width: 370px;
  height: 350px;

  background: yellow;
}

.box-four-pending p {
  margin-top: 2em;
  color: black;
} */

.margin-bottom {
  margin-top: 3em;
}