/* WAITER ORDERS */
.logo-waiter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .container-buttons-order {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .button-order {
    border: 3px solid yellow;
    background: none;
  
    width: 170px;
    height: 35px;
  
    font-weight: 600;
    font-size: 15px;

    color: yellow;
  }
  
  /* .button-order a {
    color: black;
  } */
  
  .button-order:hover {
    background: yellow;
    color: black;
  }
  
  /* .button-order:hover a {
    color: black;
  } */
  
  .active {
    background: yellow;
    color: black;
  }
  
  .active a{
    background: yellow;
    color: black;
  }
  
  A:link:hover {
    color: black;
  }
  
  p {
    margin-top: 2em;
    text-align: center;
    color: yellow;
    font-size: 15px;
  }
  
  #client-name {
    font-weight: 600;
  }
  
  .main-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  
    margin-top: 2em;  
  }
  
  .box-menus {
    width: 260px;
    height: 140px;
  
    background: yellow;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* margin-left: 5%; */
  }
  
  /* .box-menus p {
    margin-top: 2em;
    color: black;
  
    font-weight: 300;
  } */

  .button-box-menu {
    border: none;
    background: none;

    height: 45px;
    width: 70px;
  }

  .button-box-menu p {
    color: black;
    font-weight: 400;
    font-size: 16px;
  }

  /* .box-menus button p{
    color: black;

    font-weight: 300;
  }

  .button-box-menu {
    text-decoration: none;
    style: none;
    background-color: black; 
  } */
  
  /* .select-food-products {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

    width: 480px;
    height: 280px;
  
    border: 3px solid yellow;
    background: none;

    padding-top: 5px;
    padding-left: 8px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  
  .products-line {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  
  .products-line p {
    margin-top: 15px;
    margin-left: 30px;

    font-size: 18px;
    font-weight: 400;
  } */

  .button-products {
    color: yellow;
    text-decoration: none;
    background-color: black;

    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 4px;

    font-size: 18px;
    font-weight: 400;
    text-align: left;

    border:none;

    width: 250px;

    cursor: pointer;
  }

  .button-product-signal {
    color: yellow;
    text-decoration: none;
    background: black;

    font-size: 20px;
    font-weight: 800;

    /* border: 1px solid yellow; */
    border: none;

    margin-left: 60px;
    margin-bottom: 5px;

    cursor: pointer;
    
    /* width: 20px;
    height: 20px; */
  }

  .button-product-signal:hover {
    color: black;
    background: yellow;
    /* border: 1px solid yellow; */
  }

  .button-products:hover {
    background-color: yellow;
    color: black;

    /* font-size: 20px;
    font-weight: 600; */

    width: 250px;
  }
  
  .button-send-waiter {
    border: 3px solid yellow;
    background: none;
  
    width: 170px;
    height: 35px;
  
    margin-top: 2em; 
    margin-bottom: 3em;
  
    font-weight: 600;
    font-size: 15px;
    
    color: yellow;
  }
  
  .button-send-waiter a {
    color: yellow;
  }
  
  .button-send-waiter:hover {
    background: yellow;
    color: black;
  }
  
  .box-send-waiter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    margin-top: 2em;
  }
  
  .total {
    margin-right: 60%;
    margin-top: -1em;
  
    font-weight: 700;
    font-size: 18px;
  }

.clientName {
  color: yellow;
}

.inputClient {
  color: yellow;
  background: black;
  border: none;
}

.totalLabel {
  color: yellow;
}

.totalInput {
  color: yellow;
  background: black;
  border: none;
}

.inputNumItem {
  color: yellow;
  background: black;
  border: none;
}