.select-food-products-2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

    width: 480px;
    height: 190px;
  
    border: 3px solid yellow;
    background: none;

    padding-top: 5px;
    padding-left: 8px;
    padding-right: 5px;
    padding-bottom: 5px;
    
    margin-left: 20px;
  }
  
  .products-line-2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  
  .products-line-2 p {
    margin-top: 15px;
    margin-left: 30px;

    font-size: 18px;
    font-weight: 400;
  }

  .button-products-2 {
    color: yellow;
    text-decoration: none;
    background-color: black;

    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 15px;

    font-size: 18px;
    font-weight: 400;
    text-align: left;

    border:none;

    width: 250px;

    cursor: pointer;
  }

  .button-product-signal-2 {
    color: yellow;
    text-decoration: none;
    background: black;

    font-size: 20px;
    font-weight: 800;

    /* border: 1px solid yellow; */
    border: none;

    margin-left: 70px;
    margin-bottom: 5px;

    cursor: pointer;
    
    /* width: 20px;
    height: 20px; */
  }

  .button-product-signal-2:hover {
    color: black;
    background: yellow;
    /* border: 1px solid yellow; */
  }

  .button-products-2:hover {
    background-color: yellow;
    color: black;

    /* font-size: 20px;
    font-weight: 600; */

    width: 250px;
  }