.App {
  text-align: center;
  background-color: black;
  width: 100%;
  min-height: 100vh;
  color: #fff;
}

/* Colores */

.bgGreen{
  background-color: #0CA789;
}
.bgYellow{
  background-color: #EAB804;
}
.bgWhite{
  background-color: #fff;
}
.bgBlack{
  background-color: #000;
}
.bgOrange{
  background-color: #FA9710;
}
.yellow{
  color: #FAC710;
}
.white{
  color: #fff;
}
.black{
  color: #000;
}
.orange{
  color: #FA9710;
}
